body {
    margin: 0;
    padding: 0;
    
    background: #2C2B3D;;
    
    min-height: 100vh;
    text-align: center;
    
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
}

.page {
    width: 1080px;
    margin: 70px auto 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center ;

    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover {
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 160px;
}

section {
    max-width: 620px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 60px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;;
}

span {
    color: #00BFA6;
}

footer {
    border-top: 1px #00BFA6 solid;
    width: fit-content;
    margin: auto;
    padding: 27px 48px 0;
}

footer a {
    font-weight: bold;
}

footer a:hover {
    color: #00BFA6;
}

#padlock {
    position: absolute;
    left: 20px;
    bottom: 20px;

}